.App{
  min-height: 100vh;
  background: #E8CBC0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #636FA4, #E8CBC0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.search-form{
  min-height:4vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.links{
  color:inherit;
}

.search-bar{
  width:50%;
  border:none;
  padding:10px;
  margin-right: 4px;
  
}

.logo{
  height:auto;
  width:200px;
}

.search-button{
  background: lightseagreen;
  border:none;
  padding: 10px 20px;
  color:white;

}

.recipes{
  display:flex;
  justify-content: space-around;
  flex-wrap:wrap;
}

.recipe{
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71,71,71);
  margin: 20px;
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  background:white;
  align-items:center;
  min-width: 40%;
}

.image{
  border-radius:50%;
  width:100px;
  height:100px;
  padding: 1em

}